apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wildduck.wildduck.fullname" . }}
  labels:
    {{- include "wildduck.wildduck.labels" . | nindent 4 }}
spec:
  {{- if not .Values.wildduck.autoscaling.enabled }}
  replicas: {{ .Values.wildduck.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "wildduck.wildduck.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.wildduck.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "wildduck.wildduck.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.wildduck.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.wildduck.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.wildduck.securityContext | nindent 12 }}
          image: "{{ .Values.wildduck.image.repository }}:{{ .Values.wildduck.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.wildduck.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: imaps
              containerPort: 143
              protocol: TCP
            - name: pop3s
              containerPort: 110
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
          readinessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
          resources:
            {{- toYaml .Values.wildduck.resources | nindent 12 }}
          volumeMounts:
          - name: {{ include "wildduck.wildduck.fullname" . }}-config-volume
            mountPath: /wildduck/config
      volumes:
        - name: {{ include "wildduck.wildduck.fullname" . }}-config-volume
          configMap:
            name: {{ include "wildduck.wildduck.fullname" . }}-configmap
      {{- with .Values.wildduck.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.wildduck.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.wildduck.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
